@charset "utf-8";
html{
    background-image: url(jojo.jpg);
}
body{
    margin-left: auto;
    margin-right: auto;
}
header{
    text-align: center;
    color: white;
    font-size: 0.8in;
}
nav a{
    color: gold;
    text-decoration: none;
}